.Button {
  padding: 8px 16px;
  border-radius: 2px;
  width: 30vw;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  display: inline-block;

  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;

  font-style: normal;
  font-weight: 500;

  background-color: blueviolet;
  color: white;
}

.LoadMore {
  background-color: pink;
  border-radius: 10px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

.LoadMore:hover,
.LoadMore:focus {
  background-color: rgb(241, 95, 119);
  color: white;
}

.LoadMore:active {
  /* transform: scale(2); */
  transform: translateY(5px);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.SearchFormButton {
  display: inline-block;
  width: 100px;
  background-color: pink;
  opacity: 0.5;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.SearchFormButton:hover {
  background-color: rgb(241, 95, 119);
  color: white;
  opacity: 1;
}
